/*---------------------- VARIABLES ----------------------*/
:root {
	--primary-color: #05d4a1;
	--primary-color-2: #05d466;

	--secondary-color: #bd34eb;

	--color-1: #111;
	--color-2: #333;
	--color-3: #1a1a1a;
	--color-4: #080808;

	--text-default-color: #fff;
	--text-default-lighter-color: #aaa;
	--muted: #6c757d;
	--muted-hover: #585e64;

	--success: #246ad4;
	--warning: #e3bf0e;
	--danger: #d4244d;
}

@font-face {
	font-family: "Parkson";
	src: url("../fonts/Parkson-Demi.ttf");
}
@font-face {
	font-family: "SF Pro";
	src: url("../fonts/SF-Pro-Display-Light.otf") format("otf");
}

/*---------------------- GENERAL ----------------------*/
html {
	height: 100%;
	font-size: 16px;

	scroll-behavior: smooth;
	overflow-y: overlay;
	scroll-padding-top: 65px;
}

body {
	background-color: var(--color-1);
	color: var(--text-default-color);
	font-family: "SF Pro", sans-serif;
	padding: 0;
	margin: 0;
	position: relative !important;
	min-height: 100vh !important;

	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	opacity: 0.1;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	/*background: linear-gradient(var(--primary-color), var(--primary-color-2));*/
	background-color: var(--muted);
	border-radius: 10px;
	transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
	/*background: linear-gradient(var(--primary-color-2), var(--primary-color));*/
	background-color: var(--muted-hover);
	cursor: pointer;
}

/*---------------------- UTILS ----------------------*/
.invert-color {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}
